server:
  port: 8077
  servlet:
    context-path: /

spring:
  application:
    name: im-auth
  profiles:
    active: dev
  security:
    oauth2:
      authorization-server:
        issuer: http://intelligentmfg.qtech.com
  jpa:
    properties:
      hibernate:
        database-platform: org.hibernate.dialect.Oracle19cDialect
    hibernate:
      ddl-auto: none  # 让Hibernate自动更新数据库结构 update
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
  jackson:
    time-zone: Asia/Shanghai
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
  # redis 配置
  data:
    redis:
      cluster:
        max-redirects: 3
        nodes:
          - 10.170.6.24:6379
          - 10.170.6.25:6379
          - 10.170.6.26:6379
          - 10.170.6.141:6379
          - 10.170.6.142:6379
          - 10.170.1.68:6379
      lettuce:
        cluster:
          refresh:
            adaptive: true
            period: 2000
      timeout: 5000
      password: im@2024
      database: 0
  web:
    resources:
      static-locations: classpath:/static/  # 告诉 Spring 去哪里找资源（静态文件的真实物理位置）
#  mvc:
#    static-path-pattern: /static/**  #  所有静态资源访问必须通过 /static/ 开头
  banner:
    location: classpath:banner.txt

jwt:
  secret: Qw3nTf6yHp9kLmO0Rs2vBuXzCeJ5tWa1  # 用于签名和验证 JWT
  expiration: 3600       # Token 过期时间（单位：秒）
  refresh-expiration: 86400  # Refresh Token 过期时间（单位：秒）

logging:
  config: classpath:logback-spring.xml
  level: # 日志级别配置
    root: warn
    com.qtech.im: debug